@import "tailwindcss";

@theme {
  /* Base colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Primary */
  --color-primary-100: #f2f9fd;
  --color-primary-150: #d9edf9;
  --color-primary-200: #c1e2f4;
  --color-primary-250: #a8d6f0;
  --color-primary-300: #90caec;
  --color-primary-350: #77bfe8;
  --color-primary-400: #5fb3e4;
  --color-primary-450: #46a7e0;
  --color-primary: #2d9cdb;
  /* DEFAULT */
  --color-primary-550: #228dcb;
  --color-primary-600: #1f7db4;
  --color-primary-650: #1b6d9d;
  --color-primary-700: #175d85;
  --color-primary-750: #134c6e;
  --color-primary-800: #0f3c56;
  --color-primary-850: #0b2c3f;
  --color-primary-900: #071c28;

  /* Secondary */
  --color-secondary-100: #fff9e9;
  --color-secondary-150: #fff2cc;
  --color-secondary-200: #ffebaf;
  --color-secondary-250: #ffe492;
  --color-secondary-300: #ffdc74;
  --color-secondary-350: #ffd557;
  --color-secondary-400: #ffce3a;
  --color-secondary-450: #ffc71d;
  --color-secondary: #ffbf00;
  /* DEFAULT */
  --color-secondary-550: #e3aa00;
  --color-secondary-600: #c79600;
  --color-secondary-650: #ac8100;
  --color-secondary-700: #906c00;
  --color-secondary-750: #745700;
  --color-secondary-800: #584200;
  --color-secondary-850: #3c2d00;
  --color-secondary-900: #201800;

  /* Info */
  --color-info-100: #f1f8fd;
  --color-info-150: #daecfa;
  --color-info-200: #c3e1f8;
  --color-info-250: #acd5f5;
  --color-info-300: #94c9f2;
  --color-info-350: #7dbeef;
  --color-info-400: #66b2ec;
  --color-info-450: #4fa6e9;
  --color-info: #379ae6;
  /* DEFAULT */
  --color-info-550: #1d8de3;
  --color-info-600: #197dca;
  --color-info-650: #166db0;
  --color-info-700: #125d95;
  --color-info-750: #0f4c7b;
  --color-info-800: #0c3c61;
  --color-info-850: #092c47;
  --color-info-900: #061c2d;

  /* Warning */
  --color-warning-100: #fef9ee;
  --color-warning-150: #fcf0d7;
  --color-warning-200: #fae7c0;
  --color-warning-250: #f8dea9;
  --color-warning-300: #f6d491;
  --color-warning-350: #f4cb7a;
  --color-warning-400: #f2c263;
  --color-warning-450: #f0b94b;
  --color-warning: #efb034;
  /* DEFAULT */
  --color-warning-550: #eca517;
  --color-warning-600: #d29211;
  --color-warning-650: #b57e0f;
  --color-warning-700: #98690c;
  --color-warning-750: #7a550a;
  --color-warning-800: #5d4108;
  --color-warning-850: #402c05;
  --color-warning-900: #221803;

  /* Danger */
  --color-danger-100: #fdf2f2;
  --color-danger-150: #f9dbdc;
  --color-danger-200: #f5c4c6;
  --color-danger-250: #f1adaf;
  --color-danger-300: #ed9699;
  --color-danger-350: #e97f83;
  --color-danger-400: #e5696d;
  --color-danger-450: #e25256;
  --color-danger: #de3b40;
  /* DEFAULT */
  --color-danger-550: #d9252b;
  --color-danger-600: #c12126;
  --color-danger-650: #aa1d22;
  --color-danger-700: #93191d;
  --color-danger-750: #7b1518;
  --color-danger-800: #641114;
  --color-danger-850: #4d0d0f;
  --color-danger-900: #36090b;

  /* Success */
  --color-success-100: #eefdf3;
  --color-success-150: #d3f9e0;
  --color-success-200: #b8f5cd;
  --color-success-250: #9df2b9;
  --color-success-300: #82eea6;
  --color-success-350: #67ea93;
  --color-success-400: #4ce77f;
  --color-success-450: #31e36c;
  --color-success: #1dd75b;
  /* DEFAULT */
  --color-success-550: #1ac052;
  --color-success-600: #17a948;
  --color-success-650: #14923e;
  --color-success-700: #117b34;
  --color-success-750: #0e642a;
  --color-success-800: #0a4d20;
  --color-success-850: #073517;
  --color-success-900: #041e0d;

}